{% extends "base.html" %}

{% block content %}

<div class="hero">

<h1>Plan Your Perfect Journey</h1>

<p>Book Bus, Train, Flights and Hotels easily</p>

<img src="/static/images/travel-bg.jpg" class="hero-img">

<div class="travel-options">

<div class="card">
<img src="/static/images/plane.png">
<p>Flights</p>
</div>

<div class="card">
<img src="/static/images/train.png">
<p>Trains</p>
</div>

<div class="card">
<img src="/static/images/bus.png">
<p>Buses</p>
</div>

<div class="card">
<img src="/static/images/hotel.png">
<p>Hotels</p>
</div>

</div>

</div>

{% endblock %}